*{
    margin: 2rem;
}

body{
    background-color: turquoise;
}

.input-field{
    max-width: 600px;
    margin: auto;
    display: block;
    padding: 2rem;
    border: 1px solid red;
    width: 90%;
    background-color:whitesmoke;
}
/* button section */

.btn{
    max-width: 300px;
    display: block;
    margin: auto;
    padding:1rem 2rem;
    background-color:whitesmoke;
    color: red;
    font-weight: bold;
    font-size: 1rem;
}

.btn:hover{
    background:white;
    color: blue;
}

/* output field */

.output-field{
    border: 1px solid black;
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    background-color: whitesmoke;
}