@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lobster+Two:wght@700&family=Old+Standard+TT&display=swap');

html {
    background-color: #FDE68A;
    margin: 1rem;
}

:root {
    --background: #FCD34D;
}

/* Divison of content and image as div element */

.whole-content{
    float: bottom;
    padding-bottom: 1rem;
}

.image-content{
     float: top;
     display: block;
     border: 1px solid yellow;
     max-width: 20rem;
     margin: auto;
}

.heading {
    border-radius: 1.5rem;
    font-family: 'Old Standard TT';
    font-size: 2rem;
    padding: 0.5rem 5rem;
    max-width: 600px;
    margin: auto;
    background-color: var(--background);
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 1.5rem 2rem 2rem 2rem;
    letter-spacing: 1px;
    word-wrap: 1px;
    font-family: 'Cormorant Garamond';
    font-size: 1.3rem;
}


/* input-text */

.input-field {
    max-width: 600px;
    margin: auto;
    display: block;
    padding: 2rem;
    width: 90%;
    background-color: var(--background);
    border-radius: 1.5rem;
    font-family: 'Coromorant Garamond';
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

/* button section */

.btn {
    max-width: 300px;
    border-radius: 1rem;
    display: block;
    margin: auto;
    padding: 1rem 2rem;
    background-color:var(--background);
    font-weight: bold;
    font-size: 1rem;
}

.btn:hover {
    background: #FDE68A;
    color: blue;
}

/* output field */

.output-field {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    background-color:var(--background);
    border-radius: 1rem;
    border: 1px solid black;
}